<%- include('partials/header') %>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<%# loop through posts and print out each post as a title and body %>
<% posts.forEach(post=> { %>
    <h1>
        <%= post.title %>
    </h2>
    <p>
        <%= post.body %>
    </p>
    <% }) %>


<%- include('partials/footer') %>



