<%- include('partials/header') %>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<%# loop through posts and print out each post as a title and body %>
<% posts.forEach(post=> { %>
    <div class="post-container">
        <h1>
            <%= post.title %>
        </h2>
        <p>
            <%= post.body.slice(0,300) %> <a class="continue-article" href="posts/<%= post.title.replace(/[^A-Z0-9]/ig, "_") %>/id/<%= post._id %>"> ... Read More</a>
        </p>
    </div>
    <% }) %>


<%- include('partials/footer') %>



