<%- include('partials/header') %>
<div class="<%=  %>">

    <h1><%= post.title %></h2>
    <p>
        <%= post.body %>
    </p>
    <!-- if there is a create date, show on page -->
    <% if (post.createdAt) { %>
        <% created = new Date(post.createdAt) %>
        <p><strong>Created: </strong><%= created.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' , hour: 'numeric', minute: 'numeric', hour12: true}) %></p>
    <% } %>
    <!-- if create and update not the same, show updated datetime too -->
    <% if (post.updatedAt) { %>
        <% updated=new Date(post.updatedAt) %>
        <p><strong>Updated: </strong><%= updated.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' , hour: 'numeric', minute: 'numeric', hour12: true}) %></p>
    <% } %>
    <div class="button-group">
        <!-- submit the update request -->
        <form action="/update/<%= post._id%>" method="get">
            <button type="submit" class="btn btn-primary">Update Post</button>
        </form>
        <!-- submit the delete request -->
        <form action="/delete/<%= post._id%>" method="POST">
            <button type="submit" class="btn btn-warning">Delete Post</button>
        </form>
    </div>
</div>
<%- include('partials/footer') %>