<%- include('partials/header') %>
<div class="<%=  %>">

    <h1><%= post.title %></h2>
    <p>
        <%= post.body %>
    </p>
    <!-- Create a form to submit the delete request -->
    <form action="/delete/<%= post.title %>" method="POST">
        <!-- Replace `title` with the name of your Post object's title field -->
        <input type="hidden" name="delete" value="<%= post.title %>">

        <button type="submit" class="btn btn-primary">Delete Post</button>
    </form>
</div>
<%- include('partials/footer') %>