<%- include('partials/header') %>
<% let bodyValue=post.body ? post.body: "" %>
<% let titleValue=post.title ? post.title : "" %>
<h1>Update</h1>
<form action="/update/<%= post._id %>" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="postTitle" id="title" required value="<%= post.title ? post.title: "Nothing Found" %>">
    </div>
    <div class="form-group">
        <label for="post">Post</label>
        <textarea class="form-control" name="postBody" id="post" cols="30" rows="10" required><%= post.body ? post.body: "" %></textarea>
    </div>
<!-- hidden input -->
    <input type="hidden" name="postID" value="<%= post._id %>">
    <button class="btn btn-primary" type="submit">Update</button>
</form>
<%- include('partials/footer') %>